<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string>
      <key>CFBundleDisplayName</key>
      <string>ECheque</string>
      <key>CFBundleExecutable</key>
      <string>$(EXECUTABLE_NAME)</string>
      <key>CFBundleIdentifier</key>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>$(PRODUCT_NAME)</string>
      <key>CFBundlePackageType</key>
      <string>APPL</string>
      <key>CFBundleShortVersionString</key>
      <string>1.0</string>
      <key>CFBundleSignature</key>
      <string>????</string>
      <key>CFBundleVersion</key>
      <string>1</string>
      <key>LSRequiresIPhoneOS</key>
      <true/>
      <key>NSAppTransportSecurity</key>
      <dict>
          <key>NSExceptionDomains</key>
          <dict>
              <key>localhost</key>
              <dict>
                  <key>NSExceptionAllowsInsecureHTTPLoads</key>
                  <true/>
              </dict>
          </dict>
      </dict>
      <key>NSLocationWhenInUseUsageDescription</key>
      <string></string>
      <key>UILaunchStoryboardName</key>
      <string>LaunchScreen</string>
      <key>UIRequiredDeviceCapabilities</key>
      <array>
          <string>armv7</string>
      </array>
      <key>UISupportedInterfaceOrientations</key>
      <array>
          <string>UIInterfaceOrientationPortrait</string>
          <string>UIInterfaceOrientationLandscapeLeft</string>
          <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
      <key>UIViewControllerBasedStatusBarAppearance</key>
      <false/>
      <key>UIAppFonts</key>
      <array>
        <string>MaterialIcons.ttf</string>
        <string>MaterialCommunityIcons.ttf</string> 
        		<string>Poppins.ttf</string>
		<string>Poppins_regular.ttf</string>
		<string>Poppins_medium.ttf</string>
		<string>Poppins_semibold.ttf</string>
		<string>Poppins_bold.ttf</string>
		<string>Manrope.ttf</string>
		<string>Manrope_semibold.ttf</string>
		<string>Outfit.ttf</string>
		<string>Outfit_regular.ttf</string>
		<string>Outfit_semibold.ttf</string>
		<string>DM_Sans.ttf</string>
		<string>DM_Sans_regular.ttf</string>
		<string>DM_Sans_medium.ttf</string>
		<string>DM_Sans_bold.ttf</string>
		<string>Raleway.ttf</string>
		<string>Raleway_regular.ttf</string>
		<string>Raleway_medium.ttf</string>
		<string>Raleway_bold.ttf</string>
		<string>Inter.ttf</string>
		<string>Inter_regular.ttf</string>
		<string>Inter_medium.ttf</string>
		<string>Inter_semibold.ttf</string>
		<string>Lato.ttf</string>
		<string>Lato_bold.ttf</string>
		<string>Questrial.ttf</string>
		<string>Questrial_regular.ttf</string>
		<string>Nunito.ttf</string>
		<string>Nunito_regular.ttf</string>
		<string>Nunito_bold.ttf</string>
		<string>Roboto.ttf</string>
		<string>Roboto_regular.ttf</string>
		<string>Princess_Sofia.ttf</string>
		<string>Princess_Sofia_regular.ttf</string>
      </array>
      
  </dict>
  </plist>